*.DS_Store
*.history
*.backup
*.pkg
*.json
*.xml
#*.csv
anaconda3/
Applications/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Trash/
.cache/
.config/
.local/
.matplotlib/
.streamlit/

